* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.results-container {
    margin-top: 20px;
}

.button-selections {
    margin-top: 20px;

}